body {
  padding-top: 54px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-5, 
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10{
  border: 1px solid black;
}

.card-body {
  cursor: pointer;
}
.card-body:hover {
  background-color: gainsboro;
}
.white {
  background-color: white;
}